{% extends 'main/layout.html' %}
{% load static %}
{% load layout_extras %}
{% block more_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/compiled/tables.css' %}"/>
{% endblock %}
{% block content %}

    <div id="pad-wrapper" class="users-list">
        <div class="table-wrapper products-table">
            <div class="row header">
                <h3>Cronograma</h3>
                {% if request.user.is_superuser or request.user|has_group:"Doctor" %}
                    <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                        <a href="{% url 'fullcalendar:new' company.slug %}" class="btn-flat success pull-right">
                            <span>&#43;</span>
                            Nuevo Cronograma
                        </a>
                    </div>
                {% endif %}
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    {% if request.user.is_superuser %}
                        <th>Opciones</th>
                    {% endif %}
                    <!--<th><span class="line"></span>Formato</th>-->
                </tr>
                </thead>
                <tbody>

                {% for calendar in calendars %}
                    <tr>
                        <td>
                            <a href="{% url 'fullcalendar:view_calendar' company.slug calendar.slug calendar.pk %}"><b>{{ calendar.title }}</b></a>
                        </td>
                        <td>{% if calendar.type == 6 %}
                            DOCTOR
                        {% else %}
                            {{ calendar.get_type_display }}
                        {% endif %}</td>
                        {% if request.user.is_superuser or request.user|has_group:"Doctor"%}
                            <td>

                                <a href="{% url 'fullcalendar:view_calendar' company.slug calendar.slug calendar.pk %}" title="ver" class="btn btn-default"><i class="icon-eye-open"></i></a>
                                <a href="{% url 'fullcalendar:edit' company.slug calendar.pk%}" title="editar" class="btn btn-default"><i class="icon-edit"></i></a>
                                <a href="{% url 'fullcalendar:delete' company.slug calendar.pk%}" title="eliminar" class="btn btn-default btn-confirm-delete"><i class="icon-remove"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>
    </div>

{% endblock %}

{% block more_scripts %}
    <script>
        $(function () {
            active_menu('.calendar');
        });
    </script>
{% endblock %}