{% extends 'main/panel.html' %}

{% block content %}

<br>
<br>
<br>
<div class="row">
<div class="col-sm-1"></div>

<div class="col-md-5">
<table class="table table-bordered">

<thead>
	<tr>
		<td><b>Formatos PDF</b></td>
		<td><b>Opciones</b></td>
	</tr>	
</thead>

<tbody>
	{% for format in formats_pdf %}
	<tr>
		<td><a href="#">{{ format.document }}</a></td>
		<td>             
            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#formatForm{{format.pk}}"
                                data-whatever="r4">Actualizar
           	</button>
		</td>
	</tr>
	{% endfor %}
</tbody>
</table>
</div>

<div class="col-sm-2"></div>

<div class="col-md-5">
<table class="table table-bordered">
<thead>
	<tr>
		<td><b>Formatos EXCEL</b></td>
		<td><b>Opciones</b></td>

</thead>

<tbody>

	{% for format in formats_xlsx %}
	<tr>
		<td><a href="#">{{ format.document }}</a></td>
		<td>             
            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#formatForm{{format.pk}}"
                                data-whatever="r4">Actualizar
           	</button>
		</td>
	</tr>
	{% endfor %}

</tbody>

</table>

</div>

<div class="col-sm-1"></div>
</div>


{% endblock %}