{% extends 'main/layout.html' %}
{% load static %}
{% block more_styles %}
{% endblock %}
{% block content %}

<div id="pad-wrapper" class="users-list">
    <div class="row header">
        <h3>Requerimientos</h3>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Requerimiento</th>
        </tr>
        </thead>
        <tbody>

        {% for requirement in requirements %}
        <tr>
            <td><a href="{% url 'main:format_list' company.slug requirement.pk %}"><b>{{requirement.name}}</b></a></td>
        </tr>
        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}

{% block more_scripts %}
<script>
$( function() {
    active_menu('.requirement');
});
</script>
{% endblock%}