{% load main_extras %}
<form action="{{ action|default:'.' }}" method="post" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    {% for f in form %}
        {% if f|is_hidden %}
            {{ f }}
        {% else %}
        <div class="form-group {% if f.errors %}has-error{% endif %}">
            <label for="id_{{ f.name }}" class="col-sm-2 control-label">{{ f.label|capfirst }}:</label>
            <div class="col-sm-10">
                {{ f }}
                {% for error in f.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <div class="pull-right">
        <input type="submit" class="btn btn-primary pull-right" value="{{  save_text|default:'Guardar' }}" name="_save">
    </div>
</form>