{% extends 'main/layout.html' %}
{% block body %}

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a href="#">Requisitos</a>
                </li>
                <li class="deactive">
                    <a href="#">Calendario</a>
                </li>
                <li class="deactive">
                    <a href="#">Accidentes</a>
                </li>
                <li class="deactive">
                    <a href="#">Acuerdo SST</a>
                </li>
                <li class="deactive">
                    <a href="#">Reportes</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">OSHAS</h1>
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}