
{% extends 'main/layout.html' %}
{% block body %}

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="{% if 'requeriment' in request.path %}active{% endif %}">
                    <a href="{% url 'main:requeriment' company.pk %}">Requisitos</a>
                </li>
                <li class="{% if 'calendar' in request.path %}active{% endif %}">
                    <a href="{% url 'main:calendar' company.pk %}">Calendario</a>
                </li>
                <li class="{% if 'accidents' in request.path %}active{% endif %}">
                    <a href="{% url 'main:accidents' company.pk %}">Accidentes</a>
                </li>
                <li class="deactive">
                    <a href="#">Acuerdo SST</a>
                </li>
                <li class="{% if 'reports' in request.path %}active{% endif %}">
                    <a href="{% url 'main:reports' company.pk %}">Reportes</a>
                </li>
            </ul>
        </div>


        <div class="col-sm-9 col-sm-offset-3 c
        ol-md-10 col-md-offset-2 main">
            <h1 class="page-header">{{ company.name }}</h1>
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}