{% extends 'main/layout_with_out_nav.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-3"></div>
        <a href="{% url 'main:panel' user.company.pk %}">
            <div class="col-md-2 circulo1" align="center" width="200" height="200">
                <br>
                <br>
                <br>
                <h2>OSHAS</h2>
            </div>
        </a>

        <div class="col-md-2"></div>

        <a href="{% url 'main:law' %}">
            <div class="col-md-2 circulo2" align="center" width="200" height="200" class="img-responsive">
                <br>
                <br>
                <h2>Ley Seguridad</h2>
            </div>
        </a>
    </div>
</div>
{% endblock %}