{% extends 'main/layout_with_out_nav.html' %}
{% load layout_extras %}
{% load static %}

{% block styles %}
{% endblock %}
{% block nav %}
    <!--<li class="settings hidden-xs hidden-sm">
        <a href="{% url 'main:config' company_slug %}" role="button">
            <i class="icon-cog"></i>
        </a>
    </li>-->

{% endblock %}
{% block sidebar %}
    <div id="sidebar-nav">
        <div style="text-align: center;">
            {% if company.logo %}
                <img src="{{ company.logo.url }}" alt="contact" class="avatar" style="max-height: 100px;"/>
            {% else %}
                <img src="{% static 'main/img/logo_proteccion.png' %}" alt="contact" class="avatar"
                     style="max-height: 50px;"/>
            {% endif %}
        </div>
        <ul id="dashboard-menu">
            <li>
                <a href="{% url 'main:panel' company_slug %}"><i class="icon-home"></i>
                    <span>{{ company.short_name|upper }}</span>
                </a>
            </li>
            {% if not request.user|has_group:"Doctor" %}
                <li>
                    <a href="{% url 'main:requirements_list' company.slug %}">
                        <i class="icon-tasks"></i>
                        <span>Requerimientos</span>
                    </a>
                </li>

                <li>
                    <a class="dropdown-toggle" href="#">
                        <i class="icon-group"></i>
                        <span>Personal</span>
                        <i class="icon-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="{% url 'main:workers' company.slug %}">
                                <i class=""></i>
                                <span>Todos</span>
                            </a>
                        </li>
                        <li>
                            <a href="new-user.html">
                                <i class=""></i>
                                <span>Por mes</span>
                            </a>
                        </li>


                        <li>
                            <a href="{% url 'main:accident_list' company.slug %}">
                                <i class=""></i>
                                <span>Accidentes</span>
                            </a>
                        </li>
                    </ul>

                </li>
                <!--<li>
                <a href="{% url 'main:indices' company.slug %}">
                    <i class="icon-th-large"></i>
                    <span>Indicadores SST</span>
                </a>
            </li>-->
                <!--<li>
                <a href="{% url 'main:requirements_list' company.slug %}">
                    <i class="icon-plus"></i>
                    <span>Otros Indicadores</span>
                </a>
            </li>-->
            {% endif %}
            <li>
                <a href="{% url 'fullcalendar:calendar_list' company.slug %}">
                    <i class="icon-calendar-empty"></i>
                    <span>Programas Anuales</span>
                </a>
            </li>
            {% if request.user|has_group:"Doctor" and not request.user.is_superuser %}
                <li>
                    <a href="{% url 'main:medic_exam' company.slug %}">
                        <i class="icon-heart"></i>
                        <span>Control Medico</span>
                    </a>
                </li>
            {% endif %}

            {% if not request.user|has_group:"Doctor" %}
                <li>
                    <a href="{% url 'acuerdos_sst:meeting_list' company.slug %}">
                        <i class="icon-comments-alt"></i>
                        <span>Comite SST</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'main:legal_requirement' company.slug %}">
                        <i class="icon-edit"></i>
                        <span>Requisitos Legales</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'main:reports' company.slug %}">
                        <i class="icon-signal"></i>
                        <span>Reportes</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block more_scripts %}
{% endblock %}