{% extends 'main/layout_with_out_nav.html' %}

{% block sidebar %}
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li class="requirement">
            <a href="{% url 'main:requirements_list' user.company.pk %}">
                <i class="icon-tasks"></i>
                <span>Requisitos</span>
            </a>
        </li>
        <li class="calendar">
            <a href="{% url 'fullcalendar:list' %}">
                <i class="icon-calendar-empty"></i>
                <span>Calendarios</span>
            </a>
        </li>
        <li class="accidents">
            <a href="{% url 'main:accident_list' user.company.pk %}">
                <i class="icon-heart-empty"></i>
                <span>Accidentes</span>
            </a>
        </li>
        <li class="deactive">
            <a href="#">
                <i class="icon-comments-alt"></i>
                <span>Acuerdo SST</span>
            </a>
        </li>
        <li class="{% if 'reports' in request.path %}active{% endif %}">
            <a href="{% url 'main:reports' user.company.pk %}">
                <i class="icon-signal"></i>
                <span>Reportes</span>
            </a>
        </li>
    </ul>
</div>
{% endblock %}