{% extends 'main/layout.html' %}
{% load static %}
{% load i18n %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/compiled/user-profile.css' %}" type="text/css" media="screen"/>

{% endblock %}
{% block content %}


    <div id="pad-wrapper" class="user-profile">
        <!-- header -->
        <div class="row header">
            <div class="col-md-8">
                <img src="{% static 'main/img/contact-profile.png' %}" alt="contact" class="avatar img-circle"/>
                <h3 class="name">{{ company.name }}</h3>
                <span class="area">{{ company.short_name }}</span>
            </div>
        </div>

        <div class="row profile">
            <!-- bio, new note & orders column -->
            <div class="col-md-9 bio">
                <div class="profile-box">
                    <!-- biography -->
                    <div class="col-md-12 section">
                        <h6>{% trans 'address'|capfirst %}</h6>
                        <p>{{ company.address }}</p>
                    </div>

                    <div class="col-md-12 section">
                        <h6>{% trans 'contact'|capfirst %}</h6>
                        <p>{{ company.user }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}