{% extends 'main/layout.html' %}
{% load static %}
{% load i18n %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/compiled/user-profile.css' %}" type="text/css" media="screen"/>

{% endblock %}
{% block content %}


    <div id="pad-wrapper" class="user-profile">
        <!-- header -->
        {% if request.user.is_superuser %}
            <div class="pull-right">
                <a class="btn btn-default" href="{% url 'main:company_edit' company.slug %}">Editar</a>
            </div>
        {% endif %}
        <div class="row header">
            <div class="col-md-12">

                <h3 class="name">{{ company.name }}</h3>
                <span class="area">{{ company.short_name }}</span>
            </div>
        </div>

        <div class="row profile">
            <!-- bio, new note & orders column -->
            <div class="col-md-12">
                <div class="profile-box">

                    <!-- biography -->
                    <div class="col-md-12 section">
                        <h6>{% trans 'address'|capfirst %}</h6>
                        <p>{{ company.address }}</p>
                    </div>

                    <div class="col-md-12 section">
                        <h6>{% trans 'contacts'|capfirst %}</h6>
                        <div class="pull-right">
                            <a class="btn btn-default" href="{% url 'main:user_new' company.slug %}">Nuevo Usuario</a>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Usuario</th>
                                <th>Grupo</th>
                                <th>Tareas</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for u in users %}
                                <tr>
                                    <td>{{ u.user.get_full_name }}</td>
                                    <td>{{ u.user.username }}</td>
                                    <td>{{ u.group }}</td>
                                    <td>
{#                                        <a href="{% url 'main:user_edit' company_slug u.pk %}" title="editar"#}
{#                                           class="btn btn-default"><i class="icon-edit"></i></a>#}

                                    <a href="{% url 'main:user_delete' company.slug u.pk %}" title="eliminar" class="btn btn-default btn-confirm-delete"><i class="icon-remove"></i></a>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}