{% extends 'main/layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/compiled/tables.css' %}"/>
{% endblock %}
{% block content %}
    <div id="pad-wrapper" class="users-list">
        <div class="table-wrapper products-table">
            <div class="row header">
                <h3>ACUERDOS DE COMITE</h3>
                {% if request.user.is_superuser %}
                    <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                        <a href="{% url 'acuerdos_sst:agreement_new' company.slug %}"
                           class="btn-flat success pull-right">
                            <span>&#43;</span>
                            Nuevo Acuerdo
                        </a>
                    </div>
                {% endif %}
            </div>
            {% if message %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Error!</strong> {{ message }} {{ response }}
                </div>
            {% endif %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Acuerdo</th>
                    <th class="line">Detalles</th>
                    <th><span class="line"></span>Fecha Acuerdo</th>
                    <th><span class="line"></span>Detalles Realizados (%)</th>

                    {% if request.user.is_superuser %}
                        <th><span class="line"></span>Opciones</th>
                    {% endif %}
                    <!--<th><span class="line"></span>Formato</th>-->
                </tr>
                </thead>
                <tbody>
                {% for agreement in agreements %}
                    <tr>
                        <td>{{ agreement.title }}</td>
                        <td>{{ agreement.content }}</td>
                        <td>{{ agreement.date }}</td>
                        {% if agreement.percentage or agreement.percentage == 0 %}
                            <td>{{ agreement.percentage }}%
                                {% if agreement.percentage == 100.00 %}
                                    <a href="{% url 'acuerdos_sst:desactive_agreement' company_slug agreement.pk %}" style="margin-left: 50px;">ocultar</a>
                                {% endif %}
                            </td>
                        {% else %}
                            <td>Agrege Detalles</td>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            <td>


                                <ul>
                                    <li><a
                                            href="{% url 'acuerdos_sst:agreement_edit' company.slug agreement.pk %}">Editar</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'acuerdos_sst:agreement_detail' company.slug agreement.pk %}">Detalles</a>
                                    </li>
                                    <li class="last"><a
                                            href="{% url 'acuerdos_sst:agreement_delete' company.slug agreement.pk %}">Eliminar</a>
                                    </li>
                                </ul>

                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}