{% extends 'main/layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/compiled/tables.css'%}"/>
{% endblock %}
{% block content %}
    <div id="pad-wrapper" class="users-list">
    <div class="table-wrapper products-table">
        <div class="row header">
            <h3>ACUERDOS DE COMITE</h3>
            <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                <a href="{% url 'acuerdos_sst:agreement_new' company.slug %}" class="btn-flat success pull-right">
                    <span>&#43;</span>
                    Nuevo Acuerdo
                </a>
            </div>
        </div>
        {% if message %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Error!</strong> {{ message }} {{ response }}
            </div>
        {% endif %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Acuerdo</th>
                <th><span class="line"></span>Fecha Acuerdo</th>
                <th><span class="line"></span>Estado</th>
                <th><span class="line"></span>Opciones</th>
                <!--<th><span class="line"></span>Formato</th>-->
            </tr>
            </thead>
            <tbody>
            {% for agreement in agreements %}
            <tr>
                <td>{{agreement.title}}</td>
                <td>{{agreement.content}}</td>
                <td>{{agreement.date}}</td>
                <td>

                    <ul class="actions">
                        <li><a href="{% url 'acuerdos_sst:agreement_detail' company.slug agreement.pk %}">Edit</a></li>
                        <li class="last"><a href="{% url 'acuerdos_sst:agreement_delete' company.slug agreement.pk %}">Delete</a></li>
                    </ul>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}

{% block scripts %}
{% endblock%}