{% extends 'main/accidents/list.html' %}
{% block sidebar %}
    <div id="sidebar-nav">
         <ul id="dashboard-menu">
            <li >

                <a href="{% url 'main:panel' company_slug %}"><i class="icon-home"></i>
                    <span>{{company.name}}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'main:requirements_list' company.slug %}">
                    <i class="icon-tasks"></i>
                    <span>Requisitos</span>
                </a>
            </li>
            <li >
                <a href="{% url 'fullcalendar:list' company.slug %}">
                    <i class="icon-calendar-empty"></i>
                    <span>Calendarios</span>
                </a>
            </li>
            <li class="active">
                <div class="pointer">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                <a href="{% url 'main:accident_list' company.slug %}">
                    <i class="icon-heart-empty"></i>
                    <span>Accidentes</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-comments-alt"></i>
                    <span>Acuerdo SST</span>
                </a>
            </li>
            <li class="{% if 'reports' in request.path %}active{% endif %}">
                <a href="{% url 'main:reports' company.slug %}">
                    <i class="icon-signal"></i>
                    <span>Reportes</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="col-md-12" style="text-align: center"><h1>Accidents</h1></div>
     <div class="col-md-6">
        {% if message %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Error!</strong> {{ message }} {{ response }}
            </div>
        {% endif %}
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            {% include 'main/hooks/field_with_label.html' with field=field %}
            {% endfor %}

            <button type="submit">Save</button>
        </form>
    </div>
    <div class="col md-6">

    </div>

{% endblock %}