{% extends 'main/layout.html' %}
{% load static %}
{% block more_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/compiled/tables.css'%}"/>
{% endblock %}
{% block sidebar %}
    <div id="sidebar-nav">
         <ul id="dashboard-menu">
            <li >

                <a href="{% url 'main:panel' company_slug %}"><i class="icon-home"></i>
                    <span>{{company.name}}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'main:requirements_list' company.slug %}">
                    <i class="icon-tasks"></i>
                    <span>Requisitos</span>
                </a>
            </li>
            <li >
                <a href="{% url 'fullcalendar:list' company.slug %}">
                    <i class="icon-calendar-empty"></i>
                    <span>Calendarios</span>
                </a>
            </li>
            <li class="active">
                <div class="pointer">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                <a href="{% url 'main:accident_list' company.slug %}">
                    <i class="icon-heart-empty"></i>
                    <span>Accidentes</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-comments-alt"></i>
                    <span>Acuerdo SST</span>
                </a>
            </li>
            <li class="{% if 'reports' in request.path %}active{% endif %}">
                <a href="{% url 'main:reports' company.slug %}">
                    <i class="icon-signal"></i>
                    <span>Reportes</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div id="pad-wrapper" class="users-list">
    <div class="table-wrapper products-table">
        <div class="row header">
            <h3>Accidentes</h3>
            <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                <a href="{% url 'main:accident_new' company.slug %}" class="btn-flat success pull-right">
                    <span>&#43;</span>
                    Nuevo Accidente
                </a>
            </div>
        </div>
        {% if message %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Error!</strong> {{ message }} {{ response }}
            </div>
        {% endif %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Título</th>
                <th><span class="line"></span>Fecha</th>
                <th><span class="line"></span>Tipo</th>
                <th><span class="line"></span></th>
                <!--<th><span class="line"></span>Formato</th>-->
            </tr>
            </thead>
            <tbody>
            {% for accident in accidents %}
            <tr>
                <td>{{accident.title}}</td>
                <td>{{accident.date}}</td>
                <td>{{accident.get_type_accident_display}}</td>
                <td>
                    <ul class="actions">
                        <li><a href="{% url 'main:accident_edit' company.slug accident.pk %}">Edit</a></li>
                        <li class="last"><a href="{% url 'main:accident_delete' company.slug accident.pk %}">Delete</a></li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}

{% block more_scripts %}
{% endblock%}