{% extends 'main/layout.html' %}
{% load static %}
{% block more_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/compiled/tables.css'%}"/>
{% endblock %}
{% block content %}
<div id="pad-wrapper" class="users-list">
    <div class="table-wrapper products-table">
        <div class="row header">
            <h3>Accidentes</h3>
            <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                <a href="{% url 'main:accident_new' user.company.pk %}" class="btn-flat success pull-right">
                    <span>&#43;</span>
                    Nuevo Accidente
                </a>
            </div>
        </div>
        {% if message %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Error!</strong> {{ message }} {{ response }}
            </div>
        {% endif %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Título</th>
                <th><span class="line"></span>Fecha</th>
                <th><span class="line"></span>Tipo</th>
                <th><span class="line"></span></th>
                <!--<th><span class="line"></span>Formato</th>-->
            </tr>
            </thead>
            <tbody>
            {% for accident in accidents %}
            <tr>
                <td>{{accident.title}}</td>
                <td>{{accident.date}}</td>
                <td>{{accident.get_type_accident_display}}</td>
                <td>
                    <ul class="actions">
                        <li><a href="{% url 'main:accident_edit' accident.pk %}">Edit</a></li>
                        <li class="last"><a href="{% url 'main:accident_delete' accident.pk %}">Delete</a></li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}

{% block more_scripts %}
<script>
$( function() {
    active_menu('.accidents');
});


</script>
{% endblock%}