{% extends 'main/layout_with_out_nav.html' %}
{% load i18n %}

{% block content %}
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-12">
                <h3>{{ title|capfirst }}</h3>
            </div>
        </div>
        <div class="row form-wrapper">
            <div class="col-md-9 with-sidebar">
                <div class="row ctrls">
                    {% trans "update company" as button_name %}
                    {% include 'main/hooks/_form.html' with form=company_form action='.?update=company' save_text=button_name%}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            $('.nav-tabs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
    </script>
{% endblock %}
